{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-stage-0", { "decoratorsLegacy": true }],
    ["@babel/preset-env", { "modules": false }]
  ],
  "env": {
    "development": {
      "compact": false
    },
    "jest": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    [
      "react-intl",
      {
        "messagesDir": "./extracted_messages/",
        "enforceDescriptions": true
      }
    ]
  ]
}
